@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #c7cecf;
}

.navbar {
    background: #000001;
    display: flex;
    justify-content: space-between;
    height: 57px;
    align-items: center;
    
}

.navbar img {
    margin-left: 20px;
    justify-self: flex-start;
    float:left;
    height: 38px;
    width: 159px;
}

.navbar input[type ="submit"],.navbar input[type ="submit"],.navbar input[type ="submit"] {
    border: none;
    float:right;
    background: #000001 ;
    color: #d8d8d8;
    width: 158px;
    height: 57px;
    font-size: 20px;
    margin-right: 20px;
}

.wrapper {
    display: flex;
}

.wrapper img {
    height: 421px;
    width: 749px;
    margin-top: 519px;
    margin-left: 1115px;
}

.hero {
    background-color: #941515;
    text-align: center;
    padding: 97px;
}

.hero h1 {
    color: #E1E1E1;
}

.prodotti {
    margin-top: 132px;
    text-align: center;
}

.prodotti h4{
    font-size: 64px; 
    color: #941515;  
}

.prodotti .svimg{
    /* float: left; */
    height: 98px;
    width: 415px;
}

.prodotti .desc1img{
    height: 421px;
    width: 749px;
}

.footer {
    background: #000001;
    display: flex;
    bottom: 0;
    width: 100%;
    flex-direction: row-reverse;
    position: relative;
}

.footer ul {
    padding: 20px; 
}

.footer li {
    list-style: none;
    position: relative;
    cursor: pointer;
}

.footer li img {
    right: 0;
    width: 35px;
}

li.yt {
    color: #ffffff;
}

li.insta {
    color: #ffffff;
}

li.twitter {
    color: #ffffff;
}

li.fb {
    color: #ffffff;
}

li.lk {
    color: #ffffff;
}



@media screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
        display: flex;
    }

    li label {
        display: none;
    }

    .footer ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .footer li {
        display: inline-block;
    }

    
}